*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.flex-center{
  display: flex;
	justify-content: center;
	align-items: center;
}

.App{
	height: 100vh;
	background-color: teal;
}

main{
	background-color: blanchedalmond;
	width: clamp(300px, 30vw, 1300px);
	height: 30vh;
	border-radius: 1rem;
}

.timer{
	height: 65%;
	font-size: calc(1vw + 1.9rem);
}

.control{
	height: 35%;
}

.play{
	margin-right: 1vw;
	background-color: green;
}

.play.playing{
	background-color: orange;
}

.reset{
	margin-left: 1vw;
	background-color: red;
}